<kendo-dialog *ngIf="active" [width]="getModalWidth()" [height]="650" (close)="closeForm()">

    <kendo-dialog-titlebar>
  
      {{ isNew ? 'Add new appConfiguration' : 'Edit appConfiguration' }}
  
    </kendo-dialog-titlebar>
  
    <div *ngIf="this._appConfiguration!==null">
  
      <form novalidate class="k-form" [formGroup]="editForm">
   
        <kendo-formfield class="col-12">
  
          <kendo-label [for]="id_ctrl" text="AppConfiguration Id"></kendo-label>
  
          <input readonly formControlName="id" kendoTextBox #id_ctrl />
   
        </kendo-formfield>
  
        <kendo-formfield class="col-12">
  
          <kendo-label [for]="name_ctrl" text="Name *"></kendo-label>
   
          <input formControlName="name" kendoTextBox #name_ctrl />
  
        </kendo-formfield>
        <kendo-formfield class="col-12">
  
          <kendo-label [for]="description_ctrl" text="Description"></kendo-label>
   
          <input formControlName="description" kendoTextBox #description_ctrl />
  
        </kendo-formfield>
        <kendo-formfield class="col-12">
  
          <kendo-label [for]="value_ctrl" text="Value"></kendo-label>
   
          <input formControlName="value" kendoTextBox #value_ctrl />
  
        </kendo-formfield>
        <kendo-formfield class="col-12">
  
            <kendo-label [for]="isDeletable_ctrl" text="IsDeletable"></kendo-label>
     
            <input type="checkbox" formControlName="isDeletable" #isDeletable_ctrl />
    
          </kendo-formfield>
          <kendo-formfield class="col-12">
  
            <kendo-label [for]="isModifiable_ctrl" text="IsModifiable"></kendo-label>
     
            <input type="checkbox" formControlName="isModifiable" #isModifiable_ctrl />
    
          </kendo-formfield>
      </form>
  
    </div>
  
    <kendo-dialog-actions>
  
      <button kendoButton (click)="onCancel($event)">Cancel</button>
  
      <button kendoButton themeColor="primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
  
    </kendo-dialog-actions>
  
  </kendo-dialog>
  