<kendo-dialog *ngIf="active" [width]="getModalWidth()" [height]="650" (close)="closeForm()">

    <kendo-dialog-titlebar>
  
      {{ isNew ? 'Add new supplier' : 'Edit supplier' }}
  
    </kendo-dialog-titlebar>
  
    <div *ngIf="this._supplier!==null">
  
      <form novalidate class="k-form" [formGroup]="editForm">
   
        <kendo-formfield class="col-12">
  
          <kendo-label [for]="id_ctrl" text="Supplier Id"></kendo-label>
  
          <input readonly formControlName="id" kendoTextBox #id_ctrl />
   
        </kendo-formfield>
  
        <kendo-formfield class="col-12">
  
          <kendo-label [for]="name_ctrl" text="Name *"></kendo-label>
   
          <input formControlName="name" kendoTextBox #name_ctrl />
  
        </kendo-formfield>
        <kendo-formfield class="col-12">
  
          <kendo-label [for]="description_ctrl" text="Description"></kendo-label>
   
          <input formControlName="description" kendoTextBox #description_ctrl />
  
        </kendo-formfield>
        <kendo-formfield class="col-12">
  
          <kendo-label [for]="telNumber_ctrl" text="TelNumber"></kendo-label>
   
          <input formControlName="telNumber" kendoTextBox #telNumber_ctrl />
  
        </kendo-formfield>
      </form>
  
    </div>
  
    <kendo-dialog-actions>
  
      <button kendoButton (click)="onCancel($event)">Cancel</button>
  
      <button kendoButton themeColor="primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
  
    </kendo-dialog-actions>
  
  </kendo-dialog>
  