<kendo-grid [data]="gridView"
            kendoGridSelectBy="id"
            [pageSize]="gridState.take"
            [skip]="gridState.skip"
            [pageable]="true"
            [sort]="gridState.sort"
            [sortable]="true"
            [reorderable]="true"
            [resizable]="true"
            [columnMenu]="{ filter: true }"
            [filter]="gridState.filter"
            [filterable]="filterMode"
            (edit)="editHandler($event)"
            (cancel)="cancelHandler($event)"
            (save)="saveHandler($event)"
            (remove)="removeHandler($event)"
            (add)="addHandler($event)"
            (dataStateChange)="onStateChange($event)">
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand>Add Project</button>
    <button kendoButton (click)="refreshGrid($event)">Refresh</button>
  </ng-template>
  <kendo-grid-column field="id" title="Id" [hidden]="true"></kendo-grid-column>
  <kendo-grid-column field="name" title="Name" [width]="200"></kendo-grid-column>
  <kendo-grid-column field="description" title="Description" [width]="200"></kendo-grid-column>
  <kendo-grid-column field="isActive" title="IsActive" [width]="100" [filter]="'boolean'"></kendo-grid-column>
  <!-- <kendo-grid-column field="targetDBString" title="TargetDBString" [width]="150"></kendo-grid-column> -->
  <kendo-grid-column field="targetDBName" title="Target Data Store" [width]="150"></kendo-grid-column>
  <kendo-grid-column field="accessLevel" title="Access" [width]="120">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      {{this.formatAccessLevel(dataItem.accessLevel)}}
    </ng-template>
  </kendo-grid-column>
  <!-- <kendo-grid-column field="longitude" title="Longitude" [width]="100"></kendo-grid-column>
  <kendo-grid-column field="latitude" title="Latitude" [width]="100"></kendo-grid-column> -->
  <kendo-grid-column field="beginDate" title="BeginDate" [width]="175">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      {{this.formatDateTime(dataItem.beginDate)}}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="endDate" title="EndDate" [width]="175">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      {{this.formatDateTime(dataItem.endDate)}}
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="created" title="Created" [width]="175" [hidden]="true">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      {{this.formatDateTime(dataItem.created)}}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="createdByName" title="CreatedByName" [hidden]="true" />
  <kendo-grid-column field="updated" title="Updated" [width]="175" [hidden]="true">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      {{this.formatDateTime(dataItem.updated)}}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="updatedByName" title="UpdatedByName" [hidden]="true" />


  <kendo-grid-command-column title="command" [width]="140">
    <ng-template kendoGridCellTemplate>
      <button kendoGridEditCommand [primary]="true">Edit</button>
      <button kendoGridRemoveCommand>Delete</button>
    </ng-template>
  </kendo-grid-command-column>
  <div *kendoGridDetailTemplate="let dataItem">
    <app-grid-project-detail [project]="dataItem"></app-grid-project-detail>
  </div>
</kendo-grid>

<app-grid-project-edit [model]="editDataItem" [isNew]="isNew"
                        (save)="saveHandler($event)"
                        (cancel)="cancelHandler($event)">
</app-grid-project-edit>
<kendo-dialog title="Please confirm"
              *ngIf="itemToRemove"
              (close)="confirmRemove(false)">
    <p style="margin: 30px; text-align: center;">
        Are you sure you want to delete device standard {{ itemToRemove.name }}?
    </p>
    <kendo-dialog-actions>
    <button kendoButton (click)="confirmRemove(false)">No</button>
    <button kendoButton themeColor="primary"
                (click)="confirmRemove(true)">
        Yes
    </button>
    </kendo-dialog-actions>
</kendo-dialog>
