.name {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.value {
  white-space: nowrap;
  display: box;
  margin: 5;
  padding: 5;
  background-color: grey;
  width:20px;
  color:white;
  text-align: center;
}

