<div class="about">
  <h1>About</h1>
  <p>Waternet IoT Department was created on January 2018 as part of the digital transformation.</p>

  <h2>Mission IoT Strategy</h2>
  <ul>
    <li>To takes responsibility to make Waternet industrial processes cheaper, quicker, smarter and autonomous.</li>
    <li>To be a strong accelerator component of the digital transformation within Waternet.</li>
    <li>To be strongly engaged to make the IoT transformation adopted quickly within Waternet.</li>
    <li>To manage, organize, structure and ensure the knowledge and the new technology.</li>
  </ul>

  <p style="font-weight:bold; font-size:20px">Vision IoT Strategy: SMARTER AUTONOMOUS</p>
</div>
