<div class="home">

  <div class="head">
    <p>Waternet IoT Portal V2.0</p>
  </div>

  <div class="content_home">
    <p class="title"></p>

    <p class="subtitle"></p>

    <!-- <button style="border-color: #0e6ecd; background-color: #06c" kendoButton [routerLink]="['contact']"><p>Neem Contact <kendo-svg-icon [icon]="icons.chevronRightIcon"/></p></button> -->

    <button style="border-color: #2a2a2a; background-color: #272727" kendoButton [routerLink]="['userproject']"><p>Naar uw IoT projecten <kendo-svg-icon [icon]="icons.chevronRightIcon" /></p></button>
  </div>
</div>


